-i https://pypi.org/simple
autopep8==1.5.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
flask==1.0.2
future==0.18.2
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
line-bot-sdk==1.14.0
Markupsafe==1.1.1
numpy==1.19.4
pandas==1.1.5
pip==20.3.1
pycodestyle==2.6.0
Pygraph==0.2.1
pygraphviz==1.6
python-datautil==2.8.1
python-dotenv==0.10.3
pytz==2020.4
requests==2.25.1
setuptools==51.0.0
six==1.15.0
toml==0.10.2
transitions==0.6.9
urllib3==1.26.2
Werkzeug==1.0.1
wheel==0.36.1